@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700;800&display=swap");
$purple-light: #fae8ff;
$white: #fcfdff;
$black: #0e46df;
$themeColor: #4a044e;
$themeColor-light: #a94098;
$default-font: "Manrope", sans-serif;
$glowColor: #ffea00;
